body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

#container {
  margin: 20px 50px 20px 50px;
  text-align: center;
  height: 900px;
  justify-content: center;
  opacity: 0.7;
}

#title {
  font-size: 4em;
}

#startButton {
  background-color: purple;
  width: 300px;
  height: 50px;
  margin: 347px;
}

#restart {
  background-color: purple;
  width: 300px;
  height: 50px;
}

#purgatory {
  visibility: hidden;
}

.answer {
  font-size: 2em;
  width: 300px;
  margin: auto auto;
  background-color: crimson;
  border: none;
  visibility: hidden;
}

.question {
  font-size: 2.5em;
  margin: 40px;
}

.answer:hover {
  background-color: cyan;
}

#timer {
  font-size: 2.5em;
  margin: 40px;
  visibility: hidden;
}

.answerDiv {
  margin: 25px;
}

h2 {
  font-size: 2em;
  display: inline-block;
  color: yellow;
}

#restart {
  visibility: hidden;
}

.endStat {
  display: none;
}

#transitionPic {
  max-width: 650px;
  max-height: 500px;
  justify-content: center;
  margin: auto;
}
