body {
  background-color: chocolate;
}

#container {
  background-color: crimson;
  margin: 20px 50px 50px 20px;
  text-align: center;
  height: 900px;
  justify-content: center;
}

#title {
  font-size: 4em;
}

#startButton {
  background-color: purple;
  width: 300px;
  height: 50px;
  margin: 347px;
}

#purgatory {
  visibility: hidden;
}

.answer {
  font-size: 2em;
  width: 300px;
  margin: auto auto;
  background-color: crimson;
  border: none;
  visibility: hidden;
}

.question {
  font-size: 2.5em;
  margin: 40px;
}

.answer:hover {
  background-color: cyan;
}

#timer {
  font-size: 2.5em;
  margin: 40px;
  visibility: hidden;
}

.answerDiv {
  margin: 25px;
}

h2 {
  font-size: 2em;
  display: inline-block;
}

#restart {
  visibility: hidden;
}

.endStat {
  display: none;
}
